@using Framework.Models;
@using Elmah.Models.Definitions;
@using Elmah.MvcWebApp.Models;
@using Elmah.Models;
@using Elmah.Resx;
@model MvcItemViewModel<ElmahTypeModel>
@inject SelectListHelper selectListHelper;
@inject IUIStrings localizor;
@{
    var format_Please_Select = localizor.Get("Format_Please_Select");
}
@if (Model.Status != System.Net.HttpStatusCode.OK)
{
    <div class="row">
        <div class="text-danger">@Model.StatusMessage</div>
    </div>
}
else
{
    <input class="hidden-modal-title" value="@Model!.Model!.Type" type="hidden" />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model!.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model!.Type)
        </dd>
    </dl>
}
