@using Framework.Models;
@using Elmah.Models.Definitions;
@using Elmah.MvcWebApp.Models;
@using Elmah.Models;
@using Elmah.Resx;
@model MvcItemViewModel<ElmahTypeDataModel>
@inject SelectListHelper selectListHelper;
@inject IUIStrings localizor;
@{
    var format_Please_Select = localizor.Get("Format_Please_Select");
}
@if (Model.Status != System.Net.HttpStatusCode.OK)
{
    <div class="row">
        <div class="text-danger">@Model.StatusMessage</div>
    </div>
}
else
{
    <input class="nt-hidden-modal-title" value="@Model!.Model!.Type" type="hidden" />
    <div class="form-group">
        <label asp-for="Model!.Type" class="control-label" for="@Model!.HtmlId(nameof(ElmahTypeDataModel.Type))"></label>
        <input asp-for="Model!.Type" readonly class="form-control " id="@Model!.HtmlId(nameof(ElmahTypeDataModel.Type))" name="@Model!.HtmlName(nameof(ElmahTypeDataModel.Type))" data-nt-value="@Model!.Model!.Type"/>
    </div>
}
