@*this partial view can be loaded only on page level, to attach proper event handlers*@
@*only one CrudActionDialog instance is allowed on the same page*@
@inject Elmah.Resx.IUIStrings localizor;
<div class="modal fade" id="crudActionDialog" tabindex="-1" aria-labelledby="crudActionDialogLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="crudActionDialogLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body nt-result">
            </div>
            <div class="modal-body nt-modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@localizor.Get("Close")</button>
                <button type="button" class="btn btn-primary nt-btn-save" style="display: none;">@localizor.Get("Save")</button>
                <button type="button" class="btn btn-primary nt-btn-delete" style="display: none;">@localizor.Get("Delete")</button>
            </div>
        </div>
    </div>
</div>
@*@section Scripts {
    <script type="text/javascript" src="~/js/CrudActionDialog.js"></script>
}
*@