@*this partial view can be loaded only on page level, to attach proper event handlers*@
@*only one SimpleActionConfirmationDialog instance is allowed on the same page*@
@inject IUIStrings localizor;
<div class="modal fade" id="fullScreenLoading" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="loading">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
            </div>
        </div>
    </div>
</div>
