<?xml version="1.0" encoding="utf-8"?>
<GlobalConfig>
  <OriginalInput>C:\Test4\WhatEverII\trunk\Projects\Elmah\DB\Edmx\Elmah.edmx</OriginalInput>
  <SolutionConfig RootNamespace="Elmah" SolutionName="Elmah" SubRootFolder="Elmah" SwaggerRootFolder="APIs" CodeVersion="1.0.0.0" StartPort="7900">
    <RootXmlNamespace>http://www.Elmah.com</RootXmlNamespace>
  </SolutionConfig>
  <CompanyConfig Name="Elmah" EmailDomainName="Elmah.com" />
  <DatabaseSetting ConnectionStringName="Elmah" Sever="Localhost" Name="Elmah" IntegratedSecurity="false" UserName="sa" Password="Qwer~123" />
  <ExcludedTables>
    <ExcludedTable>aspnet_*</ExcludedTable>
    <ExcludedTable>__RefactorLog</ExcludedTable>
    <ExcludedTable>__MigrationHistory</ExcludedTable>
    <ExcludedTable>DatabaseLog</ExcludedTable>
    <ExcludedTable>ErrorLog</ExcludedTable>
    <ExcludedTable>TransactionHistoryArchive</ExcludedTable>
    <ExcludedTable />
  </ExcludedTables>
  <CoreTables />
  <DetailsTables />
  <CodeListTables />
  <LookupTables />
  <ListTables />
  <CrossReferenceTables>
    <CrossReferenceTable>ELMAH_Error</CrossReferenceTable>
  </CrossReferenceTables>
  <AbstractTables />
  <GlobalMapConfig />
  <GlobalQueryResultMethodSetting />
  <IDESetting IDE="VisualStudio" Version="2013" />
</GlobalConfig>