@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<Elmah.Resx.UIStringResourcePerApp> localizer_UIStringResourcePerApp;
@inject IStringLocalizer<Framework.Resx.UIStringResource> localizer_UIStringResource;
<div>
    <div class="row pb-0">
        <div class="col-12 pb-0">
            <h3>DetailsTable workspaces</h3>
        </div>
    </div>
    <div class="row pb-0">
        <div class="col-12 pb-0">
            <h5><a class="pb-0" asp-area="" asp-controller="ElmahApplication" asp-action="Index">dbo.ElmahApplication.Index</a></h5>
        </div>
    </div>
    <div class="row pb-0">
        <div class="col-12 pb-0">
            <h5><a class="pb-0" asp-area="" asp-controller="ElmahHost" asp-action="Index">dbo.ElmahHost.Index</a></h5>
        </div>
    </div>
    <div class="row pb-0">
        <div class="col-12 pb-0">
            <h5><a class="pb-0" asp-area="" asp-controller="ElmahSource" asp-action="Index">dbo.ElmahSource.Index</a></h5>
        </div>
    </div>
    <div class="row pb-0">
        <div class="col-12 pb-0">
            <h5><a class="pb-0" asp-area="" asp-controller="ElmahStatusCode" asp-action="Index">dbo.ElmahStatusCode.Index</a></h5>
        </div>
    </div>
    <div class="row pb-0">
        <div class="col-12 pb-0">
            <h5><a class="pb-0" asp-area="" asp-controller="ElmahType" asp-action="Index">dbo.ElmahType.Index</a></h5>
        </div>
    </div>
    <div class="row pb-0">
        <div class="col-12 pb-0">
            <h5><a class="pb-0" asp-area="" asp-controller="ElmahUser" asp-action="Index">dbo.ElmahUser.Index</a></h5>
        </div>
    </div>
    <div class="row pb-0">
        <div class="col-12 pb-0">
            <h3>CrossReferenceTable workspaces</h3>
        </div>
    </div>
    <div class="row pb-0">
        <div class="col-12 pb-0">
            <h5><a class="pb-0" asp-area="" asp-controller="ELMAH_Error" asp-action="Index">dbo.ELMAH_Error.Index</a></h5>
        </div>
    </div>
</div>
