@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<Elmah.Resx.UIStringResourcePerEntity> localizer_UIStringResourcePerEntity;
@inject IStringLocalizer<Elmah.Resx.UIStringResourcePerApp> localizer_UIStringResourcePerApp;
@inject IStringLocalizer<Framework.Resx.UIStringResource> localizer_UIStringResource;
@model Elmah.AspNetMvcCoreViewModel.SystemDashboardVM
@{
    ViewBag.Title = Framework.Resx.UIStringResource.SystemDashboard;
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
@section Scripts {
    <script type="text/javascript">
    </script>
}
