@using Framework.Models;
@using Elmah.Models.Definitions;
@using Elmah.MvcWebApp.Models;
@using Elmah.Models;
@using Elmah.Resx;
@model MvcItemViewModel<ElmahHostDataModel>
@inject SelectListHelper selectListHelper;
@inject IUIStrings localizor;
@{
    var format_Please_Select = localizor.Get("Format_Please_Select");
}
@if (Model.Status != System.Net.HttpStatusCode.OK)
{
    <div class="row">
        <div class="text-danger">@Model.StatusMessage</div>
    </div>
}
else
{
    <input class="nt-hidden-modal-title" value="@Model!.Model!.Host" type="hidden" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Model!.Host" class="control-label" for="@Model!.HtmlId(nameof(ElmahHostDataModel.Host))"></label>
        <input asp-for="Model!.Host" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(ElmahHostDataModel.Host))" name="@Model!.HtmlName(nameof(ElmahHostDataModel.Host))" data-nt-value="@Model!.Model!.Host"/>
        <span asp-validation-for="Model!.Host" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(ElmahHostDataModel.Host))"></span>
    </div>
    <div class="form-group">
        <label asp-for="Model!.SpatialLocation" class="control-label" for="@Model!.HtmlId(nameof(ElmahHostDataModel.SpatialLocation))"></label>
        <input asp-for="Model!.SpatialLocation" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(ElmahHostDataModel.SpatialLocation))" name="@Model!.HtmlName(nameof(ElmahHostDataModel.SpatialLocation))" data-nt-value="@Model!.Model!.SpatialLocation"/>
    </div>
}
