@using Framework.Models;
@using Elmah.Models.Definitions;
@using Elmah.MvcWebApp.Models;
@using Elmah.Models;
@using Elmah.Resx;
@model MvcItemViewModel<ElmahHostModel>
@inject SelectListHelper selectListHelper;
@inject IUIStrings localizor;
@{
    var format_Please_Select = localizor.Get("Format_Please_Select");
}
@if (Model.Status != System.Net.HttpStatusCode.OK)
{
    <div class="row">
        <div class="text-danger">@Model.StatusMessage</div>
    </div>
}
else
{
    <input class="hidden-modal-title" value="@Model!.Model!.Host" type="hidden" />
    <div class="form-group">
        <label asp-for="Model!.Host" class="control-label" for="@Model!.HtmlId(nameof(ElmahHostModel.Host))"></label>
        @Html.DisplayFor(m=>m.Model!.Host)
    </div>
    <div class="form-group">
        <label asp-for="Model!.SpatialLocation" class="control-label" for="@Model!.HtmlId(nameof(ElmahHostModel.SpatialLocation))"></label>
        @Html.DisplayFor(m=>m.Model!.SpatialLocation)
    </div>
}
