@using Framework.Models;
@using Elmah.Models;
@using Elmah.Resx;
@model ItemViewModel<ElmahUserModel>
@inject IUIStrings localizor;
@{
    var format_Please_Select = localizor.Get("Format_Please_Select");
}
<td class="pt-0 pb-0 nt-list-bulk-select"></td>
<td class="p-0">
                    <div class="btn-group" role="group" aria-label="...">
                        <button class="btn btn-primary" role="button" type="submit">
                            <i class="fa-solid fa-check-circle"></i>
                        </button>
                        <a asp-area="" asp-controller="ElmahUser" asp-action="Edit" asp-route-user="@Model.Model!.User" class="btn btn-secondary" role="button" title="@localizor.Get("Refresh")">
                            <i class="fa-solid fa-refresh"></i>
                        </a>
                        <a asp-area="" asp-controller="ElmahUser" asp-action="Index" class="btn btn-secondary" role="button" title="@localizor.Get("Back_to_List")">
                            <i class="fa-solid fa-arrow-left"></i>
                        </a>
                    </div>
</td>
<td class="form-group pt-0 pb-0">
    <input asp-for="Model!.User" class="form-control" />
    <span asp-validation-for="Model!.User" class="text-danger"></span>
</td>
