@using Framework.Models;
@using Elmah.Models;
@using Elmah.Resx;
@model ElmahSourceModel
@inject IUIStrings localizor;
@{
    var format_Please_Select = localizor.Get("Format_Please_Select");
}
@if (ViewBag.Status != System.Net.HttpStatusCode.OK)
{
    <div class="row">
        <div class="text-danger">@ViewBag.StatusMessage</div>
    </div>
}
else
{
    <input class="hidden-modal-title" value="@Model.Source" type="hidden" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Source" />
    <div class="form-group">
        <label asp-for="Source" class="control-label"></label>
        <input asp-for="Source" class="form-control" />
        <span asp-validation-for="Source" class="text-danger"></span>
    </div>
}
