@using Framework.Models;
@using Elmah.Models;
@using Elmah.Resx;
@model ElmahSourceModel
@inject IUIStrings localizor;
@{
    var format_Please_Select = localizor.Get("Format_Please_Select");
}
<td class="form-group pt-0 pb-0">
    <input asp-for="Source" class="form-control" />
    <span asp-validation-for="Source" class="text-danger"></span>
</td>
