@using Framework.Models;
@using Elmah.Models;
@using Elmah.Resx;
@using Elmah.MvcWebApp.Models;
@using Elmah.Models.Definitions;
@model MvcItemViewModel<ElmahSourceModel>
@inject SelectListHelper selectListHelper;
@inject IUIStrings localizor;
@{
    var format_Please_Select = localizor.Get("Format_Please_Select");
}
<td class="pt-0 pb-0 nt-list-bulk-select"></td>
<td class="p-0">
    <div class="btn-group btn-group-nt-action-save">
        <button type="button" class="btn btn-secondary btn-nt-action-cancel" data-nt-action="@HttpMethods.Post">
            <i class="fa-solid fa-circle-xmark"></i>
        </button>
        <button type="button" class="btn btn-primary btn-nt-action" data-nt-action="@HttpMethods.Put"
            data-nt-container="@CrudViewContainers.Inline.ToString()"
            data-nt-template="@ViewItemTemplateNames.Edit.ToString()">
            <i class="fa-solid fa-check-circle"></i>
        </button>
    </div>
</td>
<td class="form-group pt-0 pb-0">
    <input asp-for="Model!.Source" class="form-control" id="@Model!.HtmlId(nameof(ElmahSourceModel.Source))" name="@Model!.HtmlName(nameof(ElmahSourceModel.Source))"/>
    <span asp-validation-for="Model!.Source" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(ElmahSourceModel.Source))"></span>
</td>
