@using Elmah.Resx;
@using Elmah.MvcWebApp.Models;
@using Elmah.Models;
@model ItemViewModel<ElmahErrorModel.DefaultView>
@inject IUIStrings localizor;
@{
    var routeId = Model.Model?.ErrorId;
}
<div class="d-flex align-items-stretch col-sm-12 col-md-6 col-lg-4 col-xl-3 p-1 nt-listitem@(Model.IsCurrentItem ? " nt-created": "")" data-nt-route-id="@routeId">
    @await Html.PartialAsync("~/Views/ElmahError/_TileDetailsItem.cshtml", Model)
</div>
