@using Elmah.Models;
@using Elmah.Resx;
@using Framework.Models;
@model PagedResponse<ElmahErrorModel.DefaultView[]>
@inject IUIStrings localizor;
@{
    ViewBag.Status = Model.Status;
    ViewBag.StatusMessage = Model.StatusMessage;
}
@if (Model != null && Model.Status == System.Net.HttpStatusCode.OK && Model.ResponseBody != null)
{
    @for (var i = 0; i < Model.ResponseBody.Length; i++)
    {
        @await Html.PartialAsync("~/Views/ElmahError/_Tile.cshtml",
            new Elmah.MvcWebApp.Models.ItemViewModal<Elmah.Models.ElmahErrorModel.DefaultView>
            {
                 Status = System.Net.HttpStatusCode.OK, Model = Model.ResponseBody[i],  Template = Model.PagedViewOption.ToString(),
                  HtmlNamePrefix = "Model.ResponseBody", HtmlNameUseArrayIndex = true, IndexInArray = i, IsCurrentItem = false
            })
    }
}
else if (Model != null)
{
    <div class="text-danger">@Model.StatusMessage</div>
}
@if (Model != null && Model.Pagination != null)
{
    @await Html.PartialAsync("~/Views/Shared/_Pagination.cshtml", Model.Pagination)
}
