html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* advanced search toggle.start */
.nt-advanced-search-button[aria-expanded=false] .advanced-search-expanded {
    display: none;
}

.nt-advanced-search-button[aria-expanded=true] .advanced-search-collapsed {
    display: none;
}
/* advanced search toggle.end */
