@using Framework.Models;
@using Elmah.Models.Definitions;
@using Elmah.MvcWebApp.Models;
@using Elmah.Models;
@using Elmah.Resx;
@model MvcItemViewModel<ElmahStatusCodeDataModel>
@inject SelectListHelper selectListHelper;
@inject IUIStrings localizor;
@{
    var format_Please_Select = localizor.Get("Format_Please_Select");
}
@if (Model.Status != System.Net.HttpStatusCode.OK)
{
    <div class="row">
        <div class="text-danger">@Model.StatusMessage</div>
    </div>
}
else
{
    <input class="nt-hidden-modal-title" value="@Model!.Model!.Name" type="hidden" />
    <div class="form-group">
        <label asp-for="Model!.StatusCode" class="control-label" for="@Model!.HtmlId(nameof(ElmahStatusCodeDataModel.StatusCode))"></label>
        <input asp-for="Model!.StatusCode" readonly class="form-control " id="@Model!.HtmlId(nameof(ElmahStatusCodeDataModel.StatusCode))" name="@Model!.HtmlName(nameof(ElmahStatusCodeDataModel.StatusCode))" data-nt-value="@Model!.Model!.StatusCode"/>
    </div>
    <div class="form-group">
        <label asp-for="Model!.Name" class="control-label" for="@Model!.HtmlId(nameof(ElmahStatusCodeDataModel.Name))"></label>
        <input asp-for="Model!.Name" readonly class="form-control " id="@Model!.HtmlId(nameof(ElmahStatusCodeDataModel.Name))" name="@Model!.HtmlName(nameof(ElmahStatusCodeDataModel.Name))" data-nt-value="@Model!.Model!.Name"/>
    </div>
}
